.bullet {
    position: absolute;
    width: 30px;
    height: 30px;
    background: rgb(0, 0, 0);
    border-radius: 99999px;
    cursor: pointer;
    bottom: -1.3rem;
}

.bullet:hover {
    background: grey;
    transition-duration: 0.2s;
}

#mark {
    position: relative;
    width: 0;
    height: 0;
}
